.cuadro{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    margin-top: 3%;
    margin-left: 34%;
   
   
}

.logo{
 width: 150px;
 height: 150px;

}

.inicio{
text-align: center;

}

.nombre{
text-align: center;

}






